@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
   <div class="custom-pms"> <span>Purchase Management System Coming Soon.......</span></div>
</div>
<div class="row">
     <div class="col-md-4">
         <img class="custom-Image" src="Images/Arrow.png" alt="Sample Photo" />
        <h2>Click Demo to View the Demo Project</h2>
       
    </div>
    <div class="col-md-4">
        <h2>Project Description</h2>
        <p>
            •	We are planning to develop a purchase management system for a business (a one-stop solution for electronic gadgets) to manage their item inventory.</p>
       <p>     •	The model is supposed to keep track of the inventory for all the items in the store.</p>
        <p>    •	The model will allow the user to place orders for new items with the respective vendor and get to keep track of the orders.</p>
        <p>    •	A module for assigning the handling of shipments to respective department employees</p>
          <p>  •	All the transactions will have the functionality to be downloaded or saved as PDF files.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Upcoming Features</h2>
        <p>
            •	Admin User Login</p>
       <p>     •	New employees sign up</p>
      <p>      •	Home Page</p>
          <p>  •	Inventory Module to view, add, delete, and update items</p>
         <p>   •	Transaction module where we can place orders with respective vendors and view placed orders with order details such as order ID, order date & time, vendor name, and etcetera.</P>
        <p>    •	Allotment module where the shipment can be assigned to employees from a specific department (for example shipment of monitors will be allotted to someone from the computer science department).</P>
         <p>   •	A report module where we can view reports for all modules and download them as pdf.</p>
         <p>   •	Search feature in the modules to search for items with keywords.</P>
          <p>  •	FAQs
        </p>
        
    </div>
   
</div>